In [6]:
# Importaciones
import pandas as pd
import sys
import os
sys.path.append("../")
from src import call_api_demanda as demanda
from src import soporte_clean as clean

In [ ]:
path = "../data/generacion/2021_generacion_estructura_La Rioja_20.csv"

df = pd.read_csv(path, index_col = 0)

In [8]:
path_ficheros = "../data/generacion"

In [12]:
df_final = pd.DataFrame()

for f in os.listdir(path_ficheros):
   df_final =  pd.concat([df_final, clean.clean_generacion(df,f)])

display(df_final.head())
display(df_final.shape[0])

,value,percentage,datetime,title,comunidad,codigo
0,15402.108,0.104238,2021-01-01T00:00:00.000+01:00,Hidráulica,Andalucía,4
1,20891.095,0.191163,2021-02-01T00:00:00.000+01:00,Hidráulica,Andalucía,4
2,17755.933,0.12891,2021-03-01T00:00:00.000+01:00,Hidráulica,Andalucía,4
3,12484.9,0.119476,2021-04-01T00:00:00.000+02:00,Hidráulica,Andalucía,4
4,12626.526,0.182388,2021-05-01T00:00:00.000+02:00,Hidráulica,Andalucía,4

3240