In [1]:
# Importaciones
import pandas as pd
import sys
import json
sys.path.append("../")
from src import call_api_demanda as demanda
from src import call_api_generacion as generacion

In [2]:
path = "../data/2021_generacion_estructura_La Rioja_20.csv"

df = pd.read_csv(path, index_col = 0)

In [3]:
df

,type,id,groupId,attributes
0,Hidráulica,10330,1,"{'title': 'Hidráulica', 'description': 'Hidráu..."
1,Eólica,10333,1,"{'title': 'Eólica', 'description': None, 'colo..."
2,Solar fotovoltaica,1707,1,"{'title': 'Solar fotovoltaica', 'description':..."
3,Otras renovables,10334,1,"{'title': 'Otras renovables', 'description': '..."
4,Generación renovable,1,1,"{'title': 'Generación renovable', 'description..."

In [4]:
import json

datos = str(path).split("_")
comunidad = datos[3]
codigo = datos[4].split(".")[0]

def extract_values(dictionary,comunidad,codigo):
    b = dictionary.replace('\'', '\"')
    b = b.replace('None', '\"\"')
    b = b.replace('False', '\"False\"')
    b = b.replace('True', '\"True\"')
    b = b.replace('false', '\"false\"')
    b = b.replace('true', '\"true\"')
    result = json.loads(b)

    values = result['values']
    temp = []

    for i in values:
        i['title'] = result['title']
        i['comunidad'] = comunidad
        i['codigo'] = codigo
        temp.append(i)
 
    title = result['title']
    values = temp

    return values, title

df[['values','title']] = df['attributes'].apply(lambda x: pd.Series(extract_values(x,comunidad,codigo)))

df_final = pd.DataFrame()
for i in dict(df["values"]).values():
    for j in i:
        df_temp = pd.Series(j).to_frame()
        df_final = pd.concat([df_final,df_temp.transpose()])


df_final.reset_index(inplace=True, drop=True)
display(df_final)

,value,percentage,datetime,title,comunidad,codigo
0,15402.108,0.104238,2021-01-01T00:00:00.000+01:00,Hidráulica,La Rioja,20
1,20891.095,0.191163,2021-02-01T00:00:00.000+01:00,Hidráulica,La Rioja,20
2,17755.933,0.12891,2021-03-01T00:00:00.000+01:00,Hidráulica,La Rioja,20
3,12484.9,0.119476,2021-04-01T00:00:00.000+02:00,Hidráulica,La Rioja,20
4,12626.526,0.182388,2021-05-01T00:00:00.000+02:00,Hidráulica,La Rioja,20
5,10694.393,0.159294,2021-06-01T00:00:00.000+02:00,Hidráulica,La Rioja,20
6,12821.849,0.146548,2021-07-01T00:00:00.000+02:00,Hidráulica,La Rioja,20
7,14016.445,0.168879,2021-08-01T00:00:00.000+02:00,Hidráulica,La Rioja,20
8,6190.632,0.10555,2021-09-01T00:00:00.000+02:00,Hidráulica,La Rioja,20
9,2813.361,0.038771,2021-10-01T00:00:00.000+02:00,Hidráulica,La Rioja,20
10,5796.517,0.036,2021-11-01T00:00:00.000+01:00,Hidráulica,La Rioja,20
11,9853.422,0.097919,2021-12-01T00:00:00.000+01:00,Hidráulica,La Rioja,20
12,126564.559,0.85656,2021-01-01T00:00:00.000+01:00,Eólica,La Rioja,20
13,80023.713,0.732253,2021-02-01T00:00:00.000+01:00,Eólica,La Rioja,20
14,106078.27,0.770141,2021-03-01T00:00:00.000+01:00,Eólica,La Rioja,20
15,78024.301,0.746662,2021-04-01T00:00:00.000+02:00,Eólica,La Rioja,20
16,39047.666,0.564036,2021-05-01T00:00:00.000+02:00,Eólica,La Rioja,20
17,38798.185,0.577903,2021-06-01T00:00:00.000+02:00,Eólica,La Rioja,20
18,55639.61,0.635936,2021-07-01T00:00:00.000+02:00,Eólica,La Rioja,20
19,49533.029,0.596805,2021-08-01T00:00:00.000+02:00,Eólica,La Rioja,20
20,39129.84,0.667163,2021-09-01T00:00:00.000+02:00,Eólica,La Rioja,20
21,56766.639,0.782308,2021-10-01T00:00:00.000+02:00,Eólica,La Rioja,20
22,147507.567,0.91611,2021-11-01T00:00:00.000+01:00,Eólica,La Rioja,20
23,85890.104,0.853537,2021-12-01T00:00:00.000+01:00,Eólica,La Rioja,20
24,5153.449,0.034877,2021-01-01T00:00:00.000+01:00,Solar fotovoltaica,La Rioja,20
25,7717.789,0.070621,2021-02-01T00:00:00.000+01:00,Solar fotovoltaica,La Rioja,20
26,13143.273,0.095422,2021-03-01T00:00:00.000+01:00,Solar fotovoltaica,La Rioja,20
27,13292.921,0.127208,2021-04-01T00:00:00.000+02:00,Solar fotovoltaica,La Rioja,20
28,16882.492,0.243864,2021-05-01T00:00:00.000+02:00,Solar fotovoltaica,La Rioja,20
29,16963.17,0.252668,2021-06-01T00:00:00.000+02:00,Solar fotovoltaica,La Rioja,20
30,18335.209,0.209563,2021-07-01T00:00:00.000+02:00,Solar fotovoltaica,La Rioja,20
31,18802.174,0.22654,2021-08-01T00:00:00.000+02:00,Solar fotovoltaica,La Rioja,20
32,12635.07,0.215428,2021-09-01T00:00:00.000+02:00,Solar fotovoltaica,La Rioja,20
33,12394.702,0.170813,2021-10-01T00:00:00.000+02:00,Solar fotovoltaica,La Rioja,20
34,7276.071,0.045189,2021-11-01T00:00:00.000+01:00,Solar fotovoltaica,La Rioja,20
35,4184.007,0.041579,2021-12-01T00:00:00.000+01:00,Solar fotovoltaica,La Rioja,20
36,638.97,0.004324,2021-01-01T00:00:00.000+01:00,Otras renovables,La Rioja,20
37,651.574,0.005962,2021-02-01T00:00:00.000+01:00,Otras renovables,La Rioja,20
38,761.214,0.005527,2021-03-01T00:00:00.000+01:00,Otras renovables,La Rioja,20
39,695.302,0.006654,2021-04-01T00:00:00.000+02:00,Otras renovables,La Rioja,20
40,672.357,0.009712,2021-05-01T00:00:00.000+02:00,Otras renovables,La Rioja,20
41,680.36,0.010134,2021-06-01T00:00:00.000+02:00,Otras renovables,La Rioja,20
42,695.811,0.007953,2021-07-01T00:00:00.000+02:00,Otras renovables,La Rioja,20
43,645.334,0.007775,2021-08-01T00:00:00.000+02:00,Otras renovables,La Rioja,20
44,695.538,0.011859,2021-09-01T00:00:00.000+02:00,Otras renovables,La Rioja,20
45,588.318,0.008108,2021-10-01T00:00:00.000+02:00,Otras renovables,La Rioja,20
46,434.937,0.002701,2021-11-01T00:00:00.000+01:00,Otras renovables,La Rioja,20
47,700.953,0.006966,2021-12-01T00:00:00.000+01:00,Otras renovables,La Rioja,20
48,147759.086,1,2021-01-01T00:00:00.000+01:00,Generación renovable,La Rioja,20
49,109284.171,1,2021-02-01T00:00:00.000+01:00,Generación renovable,La Rioja,20
50,137738.69,1,2021-03-01T00:00:00.000+01:00,Generación renovable,La Rioja,20
51,104497.424,1,2021-04-01T00:00:00.000+02:00,Generación renovable,La Rioja,20
52,69229.041,1,2021-05-01T00:00:00.000+02:00,Generación renovable,La Rioja,20
53,67136.108,1,2021-06-01T00:00:00.000+02:00,Generación renovable,La Rioja,20
54,87492.479,1,2021-07-01T00:00:00.000+02:00,Generación renovable,La Rioja,20
55,82996.982,1,2021-08-01T00:00:00.000+02:00,Generación renovable,La Rioja,20
56,58651.08,1,2021-09-01T00:00:00.000+02:00,Generación renovable,La Rioja,20
57,72563.02,1,2021-10-01T00:00:00.000+02:00,Generación renovable,La Rioja,20
58,161015.092,1,2021-11-01T00:00:00.000+01:00,Generación renovable,La Rioja,20
59,100628.486,1,2021-12-01T00:00:00.000+01:00,Generación renovable,La Rioja,20